.key {
  border: 1px solid #00f;
  border-radius: 6px;

  background-color: #eee;
  color: #000000;
  font-size: 10px;
}

.key:active {
  background-color: #555;
}

.key-label {
  font-size: 14px;
}

.holded-key {
  background-color: #ff8080;
}
